body {
    background-color:#e0e0e0;
    font-family:'Baloo Thambi 2', Courier, monospace;
}

.customCard:hover {
    /* background-color: rgb(228, 226, 226) !important; */
    box-shadow: -7px 7px 50px #5a5a5a, 7px -7px 50px #ffffff !important
}