body {
  background-color:var(--backgroundColor);
}

.customCard:hover {
  /* background-color: rgb(228, 226, 226) !important; */
  /* box-shadow: -4px 4px 8px #5a5a5a, 4px -4px 8px #ffffff !important */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontalScrollDisplay::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.horizontalScrollDisplay {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}